
.register-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F3F4F6;
}

.register-card {
  width: 420px;
  background: #fff;
  padding: 35px 30px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  text-align: center;
}


.register-title {
  margin: 0;
  color: #4F46E5;
  font-size: 28px;
  font-weight: bold;
}

.register-sub {
  color: #6B7280;
  margin-bottom: 25px;
}


.register-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}


.input-group {
  text-align: left;
}

.input-group label {
  font-size: 14px;
  color: #374151;
  margin-bottom: 5px;
  display: block;
}

.input-group input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-size: 15px;
  transition: 0.2s;
}

.input-group input:focus {
  border-color: #4F46E5;
  outline: none;
  box-shadow: 0 0 5px rgba(79, 70, 229, 0.3);
}

/* Button */
.register-btn {
  margin-top: 10px;
  padding: 12px;
  background: linear-gradient(90deg, #4F46E5, #6366F1);
  color: #fff;
  font-size: 17px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.register-btn:hover {
  opacity: 0.9;
  transform: translateY(-1px);
}

/* Footer text */
.login-text {
  margin-top: 15px;
  font-size: 14px;
  color: #6B7280;
}

.login-text span {
  color: #4F46E5;
  cursor: pointer;
  margin-left: 5px;
  font-weight: bold;
}
